body {
  margin: 0;
  color: rgba(0, 0, 0, 0.84);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  hr {
    border: 0;
    opacity: 0.1;
  }

  .cv-avatar {
    transform: rotate(0deg);
    transition: transform 1s;
  }

  .cv-avatar:hover {
    transform: rotate(12deg);
  }

  .cv-content {
    margin: 4em auto 4em;
    
    h1 {
      font-weight: bold;
    }

    h2 {
      font-weight: bold;
    }

    .cv-block {
      font-family: serif;
      margin-top: 2em;
      font-size: small;
    }
  }
}
